@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;700&display=swap');

:root {
    --primary-color: #5ba4a4;
    --background-color: #effafa;
    --filter-table: #eef6f6;
    --dark-greyish: #7b8e8e;
    --very-dark-greyish: #2c3a3a;
}
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html {
    font-size: 15px;
    font-weight: 500;
    box-sizing: border-box;
}
body {
    font-family: "Spartan", sans-serif;
    background-color: var(--background-color);
}